<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                          <th>Title</th>
                          <th>value</th>
                          <th rowspan="2">Operation</th>
                        </tr>
                    </thead>
                  <tbody>
                          <tr *ngFor="let m of posts">
                            <td>#</td>
                              <td>{{m}}</td>
                              <td><i class="material-icons">remove</i></td>
                              <td><i class="material-icons">add</i></td>
                          </tr>
                  </tbody>
                </table>
             
            </div>
          </div>
          <div class="col-md-12">
            <div class="card-header">
              <h4 class="card-title">Search for API</h4>
            </div>
            <div class="card-body">
              <form>
                <div *ngIf="!selected" class="form-group">
                  <label>Seacrh as Click , drag , close , delete...</label>
                  <input type="text" class="form-control" placeholder="Write the type of title you want..."
                   [(ngModel)]="title" name="title" (keyup)="getSearch()"/>
                </div>
                
                <div contenteditable="true" #dynamicTitle>
                  <p> <span id="ui-locator" (click)="setLocatorEditable()" 
                    #selectedOption> {{locatorTitle}} </span> </p>
                </div>
              <table>
                <div class="form-group" *ngIf="getOptions">
                  <tr *ngFor="let opt of getOptions">
                    <td (click)="onSelect(opt.templateTitle)">{{opt.templateTitle}}</td>
                  </tr>
                </div>
                <div class="form-group" *ngIf="pages">
                  <tr *ngFor="let opt of pages">
                    <td (click)="onSelectPage(opt)">{{opt.pageName}}</td>
                  </tr>
                </div>
                <div class="form-group" *ngIf="locator">
                  <tr *ngFor="let opt of locator">
                    <td (click)="onSelectLocator(opt)">{{opt.locatorName}}</td>
                  </tr>
                </div>
              </table>
                <div class="form-group">
                  <button type="submit" class="btn btn-success pull-right" (click)="onClick()">Click Me</button>                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
